<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>Home</title>
</head>
<body>
    {{>header}}
    <div id="centeringContainer">
        <div id="searchContainer">
            <h1>{{title}}</h1>

            <p>Welcome to the site that lets you do KYC(know your customer) 
                searches for free! You can chose between a single person PEP
                (politically effected person) search and letting our algorithm 
                look through company data on our company search site.
            </p>
        </div>
    </div>

</body>
</html>