<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/person">PEP search</a></li>
            <li><a href="/company">Company search</a></li>
        </ul>
    </nav>
</header>